<!-- <div class="col"><a href="/editProjects">Projects</a></div>
<div class="col"><a href="/students">All Students</a></div>
<div class="col"><a href="/logout">Logout</a></div> -->
<a class="nav-item nav-link active" href="/editProjects">Projects<span class="sr-only">(current)</span></a>
<a class="nav-item nav-link active" href="/students">All Students<span class="sr-only">(current)</span></a>
<a class="nav-item nav-link active" href="/logout">Logout<span class="sr-only">(current)</span></a>
