
<a class="nav-item nav-link active" href="/editProjects">Projects<span class="sr-only">(current)</span></a>
<a class="nav-item nav-link active" href="/students">Students<span class="sr-only">(current)</span></a>
<a class="nav-item nav-link active" href="/logout">Logout<span class="sr-only">(current)</span></a>

