
<a class="nav-item nav-link active" href="/editProjects">My Projects<span class="sr-only">(current)</span></a>
<a class="nav-item nav-link active" href="/students">My Students<span class="sr-only">(current)</span></a>
<a class="nav-item nav-link active" href="/logout">Logout<span class="sr-only">(current)</span></a>

