
<div class="container">
  
  <div class="navbar" style="padding: 20px;">
            <div class="col"><a class="navbar-brand" href="/">HOME</a></div>
            <%if(user.role=='admin' ){%>
              <%- include('./_admin_nav.ejs')%>
              <%}%>
              <%if(user.role=='manager' ){%>
                <%- include('./_manager_nav.ejs')%>
                <%}%>
                <% if(user.role=='student' ){%>
                  <%- include('./_student_nav.ejs')%>
                  <%}%>
                  <% if(user.role=='guest' ){%>
                    <div class="col"><a  href="/login">login</a></div>
                    <div class="col"><a  href="/register">register</a></div>
                    <%}%>
                    Role: <%= user.role %>
          </div>
</div>
