<a class="nav-item nav-link active" href="/editStudent/<%= user.id %>">Student Area<span class="sr-only">(current)</span></a>
<a class="nav-item nav-link active" href="/logout">logout<span class="sr-only">(current)</span></a>
