
<!DOCTYPE html>
<html lang="en">
    <%- include('./_head.ejs')%>
<body>
    <%- include('./_nav.ejs')%>


    <h1>LOGIN</h1>
    <form action="/login" method="POST" enctype="multipart/form-data">
        <div>
            <label for="email">email</label>
            <input required type="email" id="email" name="email" />
        </div>
        <div> 
            <label for="password">password</label>
            <input required type="password" id="password" name="password" />
        </div>
        <div>
        <input type="submit" value="Login">
        </div>

    </form>
    
    <%if(typeof(message)!= undefined){%>
        <%= message %>
    <%}%>

    
</body>
</html>