<%-include("_start.ejs")%>
<div style='text-align: center;'>
    <br>
    <h1>Registered Successfully!</h1>
    <h2>Please note:</h2>
    <p> <b>
        The project guide now has your contact informaion. <br>
        They will contact you at the beginning of the relevant semester and set-up a meeting. <br>
        Please be patient. <br>
    </b> </p>
    
    <a href="/">
        <img  src="/images/success.png" alt="Success!">
    </a>
</div>

<%-include("_finish.ejs")%>