<%-include('./_start.ejs')%> <br> <br>
    <form action="/taskStatus" enctype="multipart/form-data" method="POST">
        <input type="hidden" name="tid" id="tid" value="<%=tid%>">
        <input type="hidden" name="pid" id="pid" value="<%=pid%>">
        <h2>TASK DONE?</h2>
        <label for="info">Some info about the task completion:</label>(this is logged into project updates)<br><br>
        <textarea name="description" id="description" cols="30" rows="5"></textarea><br>
        <input class="btn btn-success" type="submit" value="YES" ><br>
    </form>
<%-include('./_finish.ejs')%>